[submodule "riscv-dbg"]
	path = riscv-dbg
	url = https://github.com/pulp-platform/riscv-dbg.git
[submodule "common_cells"]
	path = common_cells
	url = https://github.com/pulp-platform/common_cells
[submodule "pulpino"]
	path = pulpino
	url = https://github.com/pulp-platform/pulpino.git
[submodule "ibex"]
	path = ibex
	url = https://github.com/lowRISC/ibex.git
